.flows.json.backup
[
    {
        "id": "8a400ed1add1fbd9",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd3a7a89a3042671",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ピザの注文",
        "payloadType": "str",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "cce3caeaaa84d971",
                "d32b57696202634e"
            ]
        ]
    },
    {
        "id": "6df93be5d083c18b",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "cce3caeaaa84d971",
        "type": "watson-assistant-v2",
        "z": "8a400ed1add1fbd9",
        "name": "new",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/b679ab6b-22cf-4a61-8f74-8370574977c2",
        "assistant_id": "b2564014-6aaf-4d55-b69e-5bf0d7e45ea6",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "6df93be5d083c18b",
                "3c222a454588e2f8"
            ]
        ]
    },
    {
        "id": "f456f4bad51399b8",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "マルゲリータ",
        "payloadType": "str",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "4a942704f51623f4",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mサイズ",
        "payloadType": "str",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "fd615ee3f70742fd",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6pm",
        "payloadType": "str",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "a0b47bf6136d7d4b",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "やっぱり7pm",
        "payloadType": "str",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "8058829c4fef226b",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OK",
        "payloadType": "str",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "3c222a454588e2f8",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.output.generic[0].text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "b921c19932524ee2",
        "type": "template",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "あなたは言いました {{payload}} !",
        "output": "str",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "0535c8308f7876d3",
                "021cdfc52921cd7d"
            ]
        ]
    },
    {
        "id": "0535c8308f7876d3",
        "type": "ReplyMessage",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "replyMessage": "",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "021cdfc52921cd7d",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "d32b57696202634e",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "2150d2886a90f7e0",
        "type": "http in",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "url": "/line",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "d32b57696202634e",
                "b921c19932524ee2"
            ]
        ]
    },
    {
        "id": "142ea86c6ab191dc",
        "type": "http in",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "url": "/get",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "4985877a6a8abdc5"
            ]
        ]
    },
    {
        "id": "3aa2fa71d054d93e",
        "type": "http response",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "4985877a6a8abdc5",
        "type": "template",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"test\":\"Robocon 100 ten\"\n}",
        "output": "str",
        "x": 620,
        "y": 100,
        "wires": [
            [
                "3aa2fa71d054d93e"
            ]
        ]
    }
]