flows.json
[
    {
        "id": "8a400ed1add1fbd9",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd3a7a89a3042671",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ピザの注文",
        "payloadType": "str",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "6df93be5d083c18b",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "cce3caeaaa84d971",
        "type": "watson-assistant-v2",
        "z": "8a400ed1add1fbd9",
        "name": "new",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/b679ab6b-22cf-4a61-8f74-8370574977c2",
        "assistant_id": "b2564014-6aaf-4d55-b69e-5bf0d7e45ea6",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "6df93be5d083c18b",
                "3c222a454588e2f8",
                "5a85df5dfda9bc67"
            ]
        ]
    },
    {
        "id": "f456f4bad51399b8",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "マルゲリータ",
        "payloadType": "str",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "4a942704f51623f4",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mサイズ",
        "payloadType": "str",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "fd615ee3f70742fd",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6pm",
        "payloadType": "str",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "a0b47bf6136d7d4b",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "やっぱり7pm",
        "payloadType": "str",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "8058829c4fef226b",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OK",
        "payloadType": "str",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "3c222a454588e2f8",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.output.generic[0].text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "142ea86c6ab191dc",
        "type": "http in",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "url": "/debug",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "661c28c2bc044432"
            ]
        ]
    },
    {
        "id": "3aa2fa71d054d93e",
        "type": "http response",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "b149b840d89076a5",
        "type": "Webhook",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "url": "/line_webhook",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "817bfc4bfd5a3755"
            ]
        ]
    },
    {
        "id": "817bfc4bfd5a3755",
        "type": "ReplyMessage",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "replyMessage": "{       \"type\": \"flex\",       \"altText\": \"This is a Flex Message\",       \"contents\": {         \"type\": \"bubble\",         \"body\": {           \"type\": \"box\",           \"layout\": \"horizontal\",           \"contents\": [             {               \"type\": \"text\",               \"text\": \"Hello,\"             },             {               \"type\": \"text\",               \"text\": \"World!\"             }           ]         }       }     }",
        "x": 1080,
        "y": 140,
        "wires": []
    },
    {
        "id": "5a85df5dfda9bc67",
        "type": "change",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "817bfc4bfd5a3755"
            ]
        ]
    },
    {
        "id": "186add14f8c703ed",
        "type": "template",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "\"messages\": [\n    {\n      \"type\": \"flex\",\n      \"altText\": \"This is a Flex Message\",\n      \"contents\": {\n        \"type\": \"bubble\",\n        \"body\": {\n          \"type\": \"box\",\n          \"layout\": \"horizontal\",\n          \"contents\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"Hello,\"\n            },\n            {\n              \"type\": \"text\",\n              \"text\": \"World!\"\n            }\n          ]\n        }\n      }\n    }\n]",
        "output": "str",
        "x": 800,
        "y": 100,
        "wires": [
            [
                "817bfc4bfd5a3755",
                "524d0bbdbe0e5c56"
            ]
        ]
    },
    {
        "id": "524d0bbdbe0e5c56",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "661c28c2bc044432",
        "type": "function",
        "z": "8a400ed1add1fbd9",
        "name": "function 1",
        "func": "\nconst line = context.global.linebot;\n\nconst config = {\n    channelAccessToken: '***',\n    channelSecret: '***',\n};\n\n// create LINE SDK client\nconst client = new line.Client(config);\n// get event\nconst event = msg.payload.events[0];\n// get message\nconst received_msg = event.message.text;\n// return message\nvar massage = { type: 'text', text: received_msg };\n\n\n// replay!\nclient.replyMessage(event.replyToken, massage);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 40,
        "wires": [
            [
                "3aa2fa71d054d93e"
            ]
        ]
    }
]