flows.json
[
    {
        "id": "0244122cf6d8d1ad",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcbacce6485cbe82",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e617203d33f6d5d3",
        "type": "tab",
        "label": "実装例",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21fc3f50d39736ce",
        "type": "inject",
        "z": "e617203d33f6d5d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ピザの注文",
        "payloadType": "str",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "7e35e482de55fa25",
        "type": "debug",
        "z": "e617203d33f6d5d3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "12912e63101d2bfb",
        "type": "watson-assistant-v2",
        "z": "e617203d33f6d5d3",
        "name": "ピザ屋",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/b679ab6b-22cf-4a61-8f74-8370574977c2",
        "assistant_id": "b2564014-6aaf-4d55-b69e-5bf0d7e45ea6",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "7e35e482de55fa25",
                "4f9063aa96f34aa1",
                "adf7a662132d8940"
            ]
        ]
    },
    {
        "id": "bb0bb6561cbe82a9",
        "type": "inject",
        "z": "e617203d33f6d5d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "マルゲリータ",
        "payloadType": "str",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "37648fd36b3debdb",
        "type": "inject",
        "z": "e617203d33f6d5d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mサイズ",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "6a48b5174892a4c7",
        "type": "inject",
        "z": "e617203d33f6d5d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "午後６時",
        "payloadType": "str",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "dcf07eaa6a07a602",
        "type": "inject",
        "z": "e617203d33f6d5d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "やっぱりシーフード",
        "payloadType": "str",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "97d5e514c006ef54",
        "type": "inject",
        "z": "e617203d33f6d5d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OK",
        "payloadType": "str",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "4f9063aa96f34aa1",
        "type": "debug",
        "z": "e617203d33f6d5d3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.output.generic[0].text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "d2be7c3ffe4e6363",
        "type": "Webhook",
        "z": "e617203d33f6d5d3",
        "name": "",
        "url": "/line_webhook",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "e8b0bed45641958e"
            ]
        ]
    },
    {
        "id": "dc47ce5cfe1ac0eb",
        "type": "ReplyMessage",
        "z": "e617203d33f6d5d3",
        "name": "",
        "replyMessage": "",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "567341c0b0337713",
        "type": "function",
        "z": "e617203d33f6d5d3",
        "name": "pre",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 388,
        "y": 183,
        "wires": [
            [
                "12912e63101d2bfb"
            ]
        ]
    },
    {
        "id": "adf7a662132d8940",
        "type": "function",
        "z": "e617203d33f6d5d3",
        "name": "post",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 625,
        "y": 181,
        "wires": [
            [
                "dc47ce5cfe1ac0eb"
            ]
        ]
    },
    {
        "id": "e8b0bed45641958e",
        "type": "switch",
        "z": "e617203d33f6d5d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 334,
        "y": 107,
        "wires": [
            [
                "dc47ce5cfe1ac0eb"
            ],
            [
                "567341c0b0337713"
            ]
        ]
    }
]