flows.json
[
    {
        "id": "fd4cd90eb9d50e53",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0244122cf6d8d1ad",
        "type": "tab",
        "label": "実装例",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "629f1d093d82c2df",
        "type": "Webhook",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "url": "/line_webhook",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "01c7c442ed5a249f",
        "type": "ReplyMessage",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "replyMessage": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "8c22b0b9e22f24d9",
        "type": "watson-assistant-v2",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/b679ab6b-22cf-4a61-8f74-8370574977c2",
        "assistant_id": "b2564014-6aaf-4d55-b69e-5bf0d7e45ea6",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "6c740752d0951d54",
                "4ee65066954d3f0b",
                "f57bda67b4e57120"
            ]
        ]
    },
    {
        "id": "6c740752d0951d54",
        "type": "change",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "01c7c442ed5a249f"
            ]
        ]
    },
    {
        "id": "d2453d904d02a3e2",
        "type": "inject",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ピザの注文",
        "payloadType": "str",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "5b852e7d1a5a0854",
        "type": "inject",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "マルゲリータ",
        "payloadType": "str",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "a4647e9638cea9e1",
        "type": "inject",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mサイズ",
        "payloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "9356aee3344d6592",
        "type": "inject",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "午後６時",
        "payloadType": "str",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "d3e09d88d9fba327",
        "type": "inject",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "やっぱりシーフード",
        "payloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "6af5fa8f43dd51ec",
        "type": "inject",
        "z": "0244122cf6d8d1ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OK",
        "payloadType": "str",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "8c22b0b9e22f24d9"
            ]
        ]
    },
    {
        "id": "4ee65066954d3f0b",
        "type": "debug",
        "z": "0244122cf6d8d1ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "f57bda67b4e57120",
        "type": "debug",
        "z": "0244122cf6d8d1ad",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.output.generic[0].text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 380,
        "wires": []
    }
]